@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@tailwind utilities;
@tailwind components;
@tailwind base;

* {
  font-family: "Poppins", sans-serif;
}

.app-container {
  display: flex;
  min-height: 100vh; /* Garante que ocupe a tela inteira */
}

.content-container {
  flex-grow: 1;
  background-color: #f4f4f9;
  background-image: url(assets/background.png);
  background-attachment: fixed;
}

.sidebar-container {
  min-width: 250px; /* Define uma largura fixa para a sidebar */
  /* Ajuste a cor da sidebar conforme necessário */
}
